/* THE NAUTIGAL - LATIN - 400 REGULAR */
@font-face {
    font-family: 'The Nautigal', cursive;
    font-style: regular;
    font-weight: 400;
    src:    url('/typography/TheNautigal-Regular.woff') format('woff'),
            url('/typography/TheNautigal-Regular.woff2') format('woff2');
}

/* ROBOTO CONDENSED - LATIN - 300 LIGHT */
@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: light;
    font-weight: 300;
    src:    url('typography/RobotoCondensed-Light.woff') format('woff'),
            url('typography/RobotoCondensed-Light.woff2') format('woff2');
}