$body-background: #40230f47;
$font-color-primary: whitesmoke;
$font-color-secondary: #402c1c;
$brown-color: #654321;
$dark-brown-color: #402c1c;
$black: #000;
$body-font: 'Roboto Condensed', sans-serif;
$transitions-short: all 0.5s ease-in-out;
$transitions-long: all 1s ease-in-out;