$body-background: #40230f80;
$font-color: whitesmoke;
$brown-color: #654321;
$black: #000;
$body-font: 'Roboto Condensed', sans-serif;
$transitions-short: all 0.5s ease-in-out;
$transitions-long: all 1s ease-in-out;